---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apps

resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: envoy-grpc-web
  guardyn.io/stage: poc
