loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  analytics:
    reporting_enabled: false
distributor:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
querier:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
queryFrontend:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
