---
apiVersion: v1
kind: Service
metadata:
  name: pd
  namespace: data
  labels:
    app: pd
    guardyn.io/stage: poc
spec:
  type: ClusterIP
  ports:
  - name: client
    port: 2379
    targetPort: 2379
    protocol: TCP
  - name: peer
    port: 2380
    targetPort: 2380
    protocol: TCP
  selector:
    app: pd
  clusterIP: None
