apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: data
resources:
  - cluster.yaml
  - https://raw.githubusercontent.com/scylladb/scylla-operator/v1.15.0/examples/generic/operator.yaml
